/*body {
  #theSection { 
    background-image: url(images/tenor.gif); no-repeat center fixed;
      background-size: cover;
  }*/


body {
  font-family: Atma, sans-serif;
}

section.bg-dark  {
  background-image: url(images/stars.gif); no-repeat center fixed;
  background-size: cover;
}

.page-header {
  background-image: url(images/stars.gif); no-repeat center fixed;
  background-size: cover;
}